* {
    border: 0;
    padding: 0;
    margin: 0;
    color: black;
    overflow: hidden;
}

body {
    background-color: teal;
    display: flex;
}

.inputs {
    margin-left: 50%;
    margin-top: 10%;
    width: 30vw;
    height: 99.3vh;
}

.button {
    background-color: darkred;
    color: white;
    padding: 15px;
}

table {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    background-color: gray;
    color: black;
}

table tr:first-child {
    text-decoration: none;
    background-color: black;
    color: #e0ffff;
}

table tr:nth-child(odd) {
    background: var(lightgray);
}